{% extends "base.html" %}
{% block content %}
<div class="auth-container">
  <h2>Add New Item</h2>
  <form method="POST">
    <input type="text" name="item_Name" placeholder="Item Name" required>
    <input type="text" name="item_Brand" placeholder="Brand">
    <input type="text" name="item_Condition" placeholder="Condition">
    <input type="text" name="item_Date" placeholder="Date (YYYY-MM-DD)">
    <textarea name="item_Description" placeholder="Description" style="width:90%;height:80px;"></textarea>
    <button type="submit" class="btn-primary">Save Item</button>
  </form>
</div>
{% endblock %}
