{% extends "base.html" %}
{% block content %}
<div class="auth-container">
  <h2>Edit Item</h2>
  <form method="POST">
    <input type="text" name="item_Name" value="{{ item['item_Name'] }}" required>
    <input type="text" name="item_Brand" value="{{ item['item_Brand'] }}">
    <input type="text" name="item_Condition" value="{{ item['item_Condition'] }}">
    <input type="text" name="item_Date" value="{{ item['item_Date'] }}">
    <textarea name="item_Description" style="width:90%;height:80px;">{{ item['item_Description'] }}</textarea>
    <button type="submit" class="btn-primary">Update</button>
  </form>
</div>
{% endblock %}
